### Introduction

In this lesson, we will learn various functionalities of Pandas for data manipulation and analysis by doing a hands-on analysis on beer-rating dataset by a [beer rating website](BeerAdvocate.com). The dataset for this exercise was downloaded from Kaggle [website](https://www.kaggle.com/rdoume/beerreviews). Various types of questions could be answerd from the dataset, for example,

1. Which brewery produces the strongest beers by ABV%?

2. If you had to pick 3 beers to recommend using only this data, which would you pick?

3. Which among aroma, taste, appearance, and palette are the most important factor in determining the overall quality of a beer?

**Getting familar with the  Dataset** <br>

In [119]:
import pandas as pd
INPUT_FILE = "/home/asimbanskota/t81_577_data_science/weekly_materials/week6/data/beer_reviews.csv"
df = pd.read_csv(INPUT_FILE)

In [120]:
df.head(2)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213

In [75]:
#print out all column names 
df.columns

Index(['brewery_id', 'brewery_name', 'review_time', 'review_overall',
       'review_aroma', 'review_appearance', 'review_profilename', 'beer_style',
       'review_palate', 'review_taste', 'beer_name', 'beer_abv',
       'beer_beerid'],
      dtype='object')

In [76]:
# Data types of each columns
df.dtypes

brewery_id              int64
brewery_name           object
review_time             int64
review_overall        float64
review_aroma          float64
review_appearance     float64
review_profilename     object
beer_style             object
review_palate         float64
review_taste          float64
beer_name              object
beer_abv              float64
beer_beerid             int64
dtype: object

In [25]:
#size of the dataframe
df.shape

(1586614, 13)

In [24]:
df.head(2)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213

### Descriptive statistics on numeric columns

In [121]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

### Determine the unique number of  items in  column

In [32]:
# Unique breweries
df.brewery_name.unique()

array(['Vecchio Birraio', 'Caldera Brewing Company',
       'Amstel Brouwerij B. V.', ..., 'Wissey Valley Brewery',
       'Outback Brewery Pty Ltd', 'Georg Meinel Bierbrauerei KG'],
      dtype=object)

In [33]:
# Number of unique breweries in the dataset
len(df.brewery_name.unique())

5743

In [34]:
# Number of unique beers
len(df.beer_beerid.unique())

66055

### Dealing with dates

When data consisting of columns with date and time are imported into Pandas, the date-time information is read as a string object. Pandas has `to_datetime()` method, which can be used to convert string date-time into Python date-time object. 

It looks like the review time in the beer dataset is in unix timestamp format. The timestamp can be converted into regular looking date format by specifiying the unit as 's'

In [72]:
pd.to_datetime(df.review_time, unit = 's').head()

0   2009-02-16 20:57:03
1   2009-03-01 13:44:57
2   2009-03-01 14:10:04
3   2009-02-15 19:12:25
4   2010-12-30 18:53:26
Name: review_time, dtype: datetime64[ns]

In [71]:
print('Earliest review date: {}'.format(pd.to_datetime(df["review_time"], unit = "s").min()))
print('Earliest review date: {}'.format(pd.to_datetime(df["review_time"], unit = "s").max()))

Earliest review date: 1996-08-22 00:00:01
Earliest review date: 2012-01-11 12:35:48

Alternatively you can also use `fromtimestamp` method of the `datetime` module of `datetime` library.

In [45]:
from datetime import datetime
print('Earliest review date: {}'.format(datetime.fromtimestamp(min(df.review_time))))
print('Latest review date: {}'.format(datetime.fromtimestamp(max(df.review_time))))

Earliest review date: 1996-08-21 19:00:01
Latest review date: 2012-01-11 06:35:48

There seems to be time difference in the results from pandas and datetime results (TODO)

### Apply function

Applying an operation on all values of a column is a very common practice with dataframe. An `apply` method on a series or dataframe can be called to apply either a named or lambda function over all rows value of a column. In th following, the year value for each record is extracted from the timestamp.

In [136]:
def compute_year(x):
    """ returns the year info from unix timestap"""
    return datetime.fromtimestamp(x).year

df['review_year']= df.review_time.apply(compute_year)

In [180]:
df["review_year"].value_counts()

2011    333052
2010    277172
2009    243422
2008    210016
2007    142591
2006    129717
2005     89167
2004     69682
2003     57021
2002     23151
2012      9285
2001      1999
1998       133
2000       119
1999        86
1996         1
Name: review_year, dtype: int64

### Missing values

Missing or null values in a dataframe are represented by either `None` or `NaN`. To detect NaN values pandas uses either .isna() or .isnull().

In [137]:
df.isnull().sum()
#df.notnull()
df.isna().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
review_year               0
dtype: int64

In [138]:
df[df.brewery_name.isnull()].head(2)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid,review_year
651565,1193,NaN,1301022066,2.0,2.5,2.5,Knapp85,Vienna Lager,1.5,1.5,Engel Tyrolian Bräu WRONG BREWERY SEE SCHWABIS...,5.0,67503,2011
659293,1193,NaN,1290107698,4.0,4.5,3.5,dqrull,Bock,4.0,3.5,Engel Bock Dunkel WRONG BREWERY SEE CRAILSHEIMER,7.2,63658,2010

`dropna` method on dataframe can be called to drop the rows of missing values.

In [96]:
df.dropna().shape

(1518478, 13)

`fillna` method can be used to fill the missing value with desired values.

In [104]:
df["brewery_name"].fillna('missing-values');

In [111]:
df[df.beer_abv.isna()].head(2)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
273,1075,Caldera Brewing Company,1103668195,3.0,3.0,3.0,RedDiamond,American Stout,4.0,3.0,Cauldron Espresso Stout,NaN,21241
430,850,Moon River Brewing Company,1110736110,3.5,4.0,4.5,cMonkey,Scotch Ale / Wee Heavy,3.5,3.5,The Highland Stagger,NaN,20689

Dataframe also has `interpolate` method to interpolate missing values in a dataset. Several different methods ranging from linear to polynomial are available.

In [114]:
df.beer_abv.interpolate(method='linear', inplace = True)

In [115]:
df[df.beer_abv.isna()]

Empty DataFrame
Columns: [brewery_id, brewery_name, review_time, review_overall, review_aroma, review_appearance, review_profilename, beer_style, review_palate, review_taste, beer_name, beer_abv, beer_beerid]
Index: []

### Drop duplicates

Duplicates rows, if any, can be removed using `drop_duplicates` methods on the entire dataframe or on selected columns.

In [118]:
df.drop_duplicates();

### Grouping and Aggregating Data

Grouping and aggregating functions are available in Pandas to perform group specific operations.

In the beer dataset, the rating scores are all provided at the scale of 1 to 5. It is likely that individuals have different rating habits or patterns. Mean centralizing by users might help remove such individuals specific patterns  in the rating scores. Lets first group the ratings (_review_overall_) by _review_profilename_ column using `groupby` method.

In [125]:
df_group = df['review_overall'].groupby(df['review_profilename'])

We grouped the rating by only one column, it is possible to group by a dataframe with multiple columns. Any standard function or operation can be applied to a grouped object.

In [139]:
rating_mean = df_group.mean()

Alternatively, `agg` method can be called on to operate built-in or other user defined functions on the grouped objects.

In [153]:
import numpy as np
df_rating_mean = df['review_overall'].groupby(df['review_profilename']).agg(
    {np.mean})

### Merge two dataframes

pandas can perform in-memory join or merge operations with syntaxes very similar to SQL.

In [157]:
df_merged = pd.merge(df,df_rating_mean, on = 'review_profilename')

Now we have the mean rating of each user, we can mean centralize their rating in the following manner.

In [161]:
df_merged['overall_cen'] = df_merged['review_overall']-df_merged['mean']
df_merged['aroma_cen'] = df_merged['review_aroma']-df_merged['mean']
df_merged['palate_cen'] = df_merged['review_palate']-df_merged['mean']
df_merged['appearance_cen'] = df_merged['review_appearance']-df_merged['mean']
df_merged['taste_cen'] = df_merged['review_taste']-df_merged['mean']